<!DOCTYPE html>
<html>
<head>

<meta charset="ISO-8859-1">
<title>PlantPlaces.com</title>
<style type="text/css">
header {
background-color:green;
}
ul {
color: blue;
background-color:green;
}
footer {
font-weight: bold;
}
</style>
</head>
<body>
<header>
<h1>Welcome to PlantPlaces!</h1>
</header>
<ul>
<li>Get plant description</li>
<li>Get plant location</li>
<li>Get plant specimen</li>
</ul>
<button>Submit your specimen</button>
<footer>
Assignment 0 IT4045 Fall 2019<br>
<a href="basforza@mail.uc.edu">basforza@mail.uc.edu</a>
</footer>

</body>
</html>